/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background:#f5f5f5;
  font:normal normal 10px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {color:#2b2b2b;}
a { color: #16a6b6 }

/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {background: #2b2b2b;}
.nav-link {color:#e7e7e7;}
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {color:#fff;}

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
.logo-link, .tagline, .call-action-area .price {
  color:#fff;
  text-shadow: 1px 2px 1px rgba(0,0,0,.3);
}
.tagline {font-weight: normal;}
.call-action-area .price {color:#fddd52;}
.call-action-area .call-action-link, .btn {
  background-color: #e65b8d;
  background-image: -moz-linear-gradient(top, #e65b8d 30%, #e61c65 150%);
  background-image: -webkit-linear-gradient(top, #e65b8d 30%, #e61c65 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e65b8d', endColorstr='#e61c65');
  background-image: linear-gradient(top, #e65b8d 30%, #e61c65 150%);
  color:white;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), inset 0 -2px 3px 0 #e65b8d, inset 0 1px 0 0 #e65b8d;
  border-radius: 10px;
}

/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {color:#e61c65;}
.content a:hover, .content a:focus {
  color:#e61c65;
  text-decoration: underline;
}

/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  background:#fff;
}

/* =============================================================================
   LOCATION
   ========================================================================== */
.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
}

/* =============================================================================
   SPEAKER
   ========================================================================== */
.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.07);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.speakers-item:hover .speaker-photo .photo {box-shadow: 0 0 0 8px rgba(0,0,0,.3);}
.speech-time {
  color:#fff;
  background:#2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  background:#fff;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3);}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background:#fffde1;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}

/* =============================================================================
   SPONSORS
   ========================================================================== */
.sponsor-link, .partner-link {
  background:#fff;
  border:1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.sponsor-link:hover, .sponsor-link:focus, .partner-link:hover, .partner-link:focus {border-color: #f0a303;}


/* =============================================================================
   CONTATO
   ========================================================================== */
.form-contato input[type=text], .form-contato input[type=email], .form-contato textarea{
  color:#777;
  border:1px solid #e7e7e7;
  background:#fff;
  border-radius:4px;
}
.form-contato input[type=text]:focus, .form-contato input[type=email]:focus, .form-contato textarea:focus {border-color:#aaa;outline:0;}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width : 480px) {
  /* speakers */
  .speaker-photo .photo {box-shadow: 0 0 0 3px rgba(0,0,0,.07);}
  .speech-title {font-weight: bolder;}
  .speech-time {
    color:#2b2b2b;
    background: transparent;
    font-weight: bolder;
  }
}
