<!-- HEADER -->
<header class="header" style="background-image: url({{ site.site.images.cover }})">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf2014.name }}">{{ site.conf2014.name }}</a></h1>
    <h2 class="tagline">{{ site.conf2014.date }} - {{ site.conf2014.venue }}, {{ site.conf2014.city }}</h2>

    <!--
    <div class="call-action-area">
      <span class="price">Only {{ site.conf2014.price }}</span>
      <a href="" class="call-action-link" title="Register now!">Register now!</a>
    </div>
    -->
  </div>
</header>
<!--  / HEADER -->

<hr />
