<!-- HEADER -->
<header class="header" style="background-image: url({{ site.site.images.cover }})">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf2015.name }}">{{ site.conf2015.name }}</a></h1>
    <h2 class="tagline">{{ site.conf2015.date }} - {{ site.conf2015.venue }}, {{ site.conf2015.city }}</h2>

    <!--
    <div class="call-action-area">
      <a href="" class="call-action-link" title="Pre-Register now!">Pre-Register</a>
    </div>
    -->
  </div>
</header>
<!--  / HEADER -->

<hr />
