<!-- NAVIGATION -->
<nav id="nav">
  <ul class="wrapper">
    <li class="nav-item">
      <a href="/">viSFest</a>
    </li>
    {% if site.sections.about %}
      <li class="nav-item">
        <a href="/d3unconf/#about" class="nav-link">About</a>
      </li>
    {% endif %}
    {% if site.sections.location %}
      <li class="nav-item">
        <a href="/d3unconf/#location" class="nav-link">Location</a>
      </li>
    {% endif %}
    {% if site.sections.faq %}
      <li class="nav-item">
        <a href="/d3unconf/#faq" class="nav-link">FAQ</a>
      </li>
    {% endif %}
    {% if site.sections.contact %}
      <li class="nav-item">
        <a href="/d3unconf/#contact" class="nav-link">Contact</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a href="/jobs" class="nav-link">Jobs</a>
      </li>
    <li class="nav-item twitter-link">
      <img src="/img/icon-twitter.png"></img><a href="http://twitter.com/d3unconf">@d3unconf</a>
    </li>
  </ul>
</nav>

<hr />
