{% if site.sections.about %}

  <!-- ABOUT -->
  <section class="about" id="about">
    <p><span class="highlight">d3.unconf</span> is a one-day gathering of data visualization practitioners. We're meeting to catalyze involvement and knowledge sharing within the <a href="http://d3js.org">d3.js</a> and greater visualization community.</p>

    <p>Looking for how to submit a block? See <a href="http://visfest.com/d3unconf/how-to.html">our guide.</a></p>
    <p>Check out <a href="/blocks.html">our gallery of submitted blocks!</a></p>
  </section>
  <!-- / ABOUT -->

{% endif %}
