{% if site.sections.code_of_conduct %}

  <section class="code-of-conduct" id="code-of-conduct">
    <h2 class="section-title">Code of Conduct</h2>
      <p>d3.unconf is dedicated to a harassment-free conference experience for everyone
    <br/>Please read our <strong><a href="conduct.html">anti-harassment policy</a></strong>
    <br/><small>This anti-harassment policy is based on the example policy from the <a href="http://geekfeminism.wikia.com/index.php?title=Conference_anti-harassment_policy">Geek Feminism wiki</a></small>
  </section>

{% endif %}
