{% if site.sections.code_of_conduct %}

  <section class="mailing-list" id="mailing-list">
    <form method="post" action="contato.php" id="form-contato" class="form-contato">
      <div class="control-group control-group-name">
        <label for="name">Get notified when tickets are on sale!</label>
        <input type="text" name="name" id="name" placeholder="Your Email Address"/>
      </div>
      <input class="btn btn-send" type="submit" value="Sign Up" />
    </form>
  </section>

{% endif %}

