{% if site.sections.code_of_conduct %}

  <section class="mailing-list" id="mailing-list">
    <form action="http://enja.us2.list-manage1.com/subscribe/post?u=04caa372ad17a1acb66bdef40&amp;id=ee69e72e36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-contato" target="_blank" novalidate>
      <div class="control-group control-group-name">
        <label for="name">Get notified when tickets are on sale!</label>
        <input type="text" name="EMAIL" id="name" placeholder="Your Email Address"/>
      </div>
      <input class="btn btn-send" type="submit" value="Sign Up" name="subscribe"/>
    </form>
  </section>

{% endif %}

