{% if site.sections.partners %}

  <!-- PARTNERS -->
  <section class="partners" id="partners">
    <h2 class="section-title">Organizers</h2>
    <ul class="partners-list">

    {% for partner in site.partners %}
      <li class="partner-item">
        <a class="partner-logo partner-link" href="{{ partner.url }}"><img src="{{ partner.logo }}" alt="{{ partner.name }}" class="photo" /></a>
      </li>
    {% endfor %}
    <p> The <a href="http://www.meetup.com/Bay-Area-d3-User-Group">d3 Bay Area Meetup Group</a> has been holding d3-inspired events since 2012 and numbers nearly 2,000 data-driven users.</p>
    <p>You can contact us at <a href="mailto:info@visfest.com" target="_top">info@visfest.com</a>.</p>

    </ul>
  </section>
  <!-- / PARTNERS -->

{% endif %}
