{% if site.sections.sponsors %}

  <!-- SPONSORS -->
  <section class="sponsors" id="sponsors">
    <h2 class="section-title">Sponsors</h2>
    <ul class="sponsors-list">
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.github.com"><img src="/img/GitHub_Logo.png" alt="GitHub" class="photo" /></a>
      </li>
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.stamen.com"><img src="/img/stamen_logo_black1.png" alt="Stamen" class="photo" /></a>
      </li>
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.bluenose.com"><img src="/img/logo.png" alt="Bluenose" class="photo" /></a>
      </li>
    </ul>
  </section>
  <!-- / SPONSORS -->

{% endif %}
