{% if site.sections.faq %}

  <!-- FAQ -->
  <section class="faq" id="faq">
    <h2 class="section-title">Frequently Asked Questions</h2>
    <h4>What is an unconference?</h4>
    <p>An unconference is a participant-driven conference where the topics of discussion are decided the day of. We'll split the discussions into 6 sessions during the day.</p>
    <p>We will have 5 tracks per session, which means we will have 30 "blocks" for discussions and workshops throughout the day. We are hoping that each block will be seeded by at least one example, either something you worked on or something you'd like to learn more about. You don't have to be an expert on the topic to lead a block. If you have a topic you are interested in, try to find a good example and help facilitate discussion!</p>
    <p>If a session isn't keeping your attention, don't feel obligated to stay - move to another that needs your voice! Don't forget to have FUN - we want to hear about all kinds of projects, especially the ones you do for fun!</p>
    <h4>What topics will we cover?</h4>
    <p>The topics for discussion will be submitted and chosen by attendees on the day of the unconference. Topics for the sessions can be whatever you want, but we have prepared a list of common mailing-list discussions that can provide starting points:<br/>
    <a href="https://gist.github.com/syntagmatic/8589463">d3.js Mailing List Discussions</a></p>
    
    <h4>Who should attend?</h4>
    <ul>
      <li>If you're interested in building on your own or other people's examples</li>
      <li>If you have ideas around d3 and data visualization that you're still trying to figure out.</li>
      <li>If you want to meet more people that are trying to apply the latest d3 techniques to visualize data!</li>
    </ul>
    </p>
  <!-- / FAQ -->
  </section>

{% endif %}

