{% if site.sections.speakers %}

  <!-- SPEAKERS -->
  <section class="speakers" id="speakers">

    <h2 class="section-title">Opening Keynote</h2>

    <div class="speakers-list">
    {% for speaker in site.schedule %}
      {% if speaker.presentation %}
        <div class="speakers-item">
          <span class="speaker-photo"><img class="photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}" /></span>

          <h3 class="speech-title">
            {% if speaker.presentation.time %}
              <span class="speech-time">{{ speaker.presentation.time }}</span>
            {% endif %}
          </h3>

          <h3 class="speakers-name">{{ speaker.name }} <a href="http://www.twitter.com/{{ speaker.twitter }}" title="Twitter @{{ speaker.twitter }}">@{{ speaker.twitter }}</a></h3>
          <p class="speakers-bio">{{ speaker.bio }}</p>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h2 class="section-title">Featured Attendees</h2>
    <div class="speakers-list">
        <div class="speakers-item">
          <span class="speaker-photo"><img class="photo" src="/img/ramnath.jpg" alt="Ramnath Vaidyanathan" /></span>
          <h3 class="speakers-name">Ramnath Vaidyanathan <a href="http://www.twitter.com/ramnath_vaidya" title="Twitter @ramnath_vaidya">@ramnath_vaidya</a></h3>
          <p class="speakers-bio">Ramnath Vaidyanathan is an Assistant Professor of Operations Management at McGill University. His research applies predictive analytics and optimization methodologies to improve operational decisions in retailing. He is addicted to R and Javascript and has developed two R packages, <a href="http://rcharts.io/">rCharts</a> and <a href="http://slidify.org/">Slidify</a>, which simplify the process of creating interactive visualizations and web-friendly documents, straight from R. He is writing a book on Interactive Documents with R, to be published by CRC Press.</p>
        </div>
    </div>


  </section>
  <!-- / SPEAKERS -->

{% endif %}
