{% if site.sections.sponsors %}

  <!-- SPONSORS -->
  <section class="sponsors" id="sponsors">
    <h2 class="section-title">Sponsors</h2>
    <ul class="sponsors-list">
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.github.com"><img src="/img/GitHub_Logo.png" alt="GitHub" class="photo" /></a>
        <p><a href="http://www.github.com">GitHub</a> is the best place to share code with friends, coworkers, classmates and complete strangers. Over four million people use GitHub to build amazing things together.</p>
        <p>You can view their open positions here: <a href="https://github.com/about/jobs">GitHub Jobs</a>
      </li>


      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.stamen.com"><img src="/img/stamen_logo_black1.png" alt="Stamen" class="photo" /></a>
        <p><a href="http://www.stamen.com">Stamen Design</a> is a mapping and data visualization design studio in San Francisco, California.</p>
        <p>Building and contributing to open source software projects is a key part of Stamen’s practice. </p>
      </li>

      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.bluenose.com"><img src="/img/logo.png" alt="Bluenose" class="photo" /></a>
        <p><a href="http://www.bluenose.com">Bluenose</a> provides a customer success platform for SaaS businesses to increase revenue, using predictive analytics to engage at-risk customers and identify drivers of churn.</p>
        <p>Check out their open positions here: <a href="https://jobs.lever.co/bluenose">Bluenose Jobs</a></p>
      </li>

      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.lever.co"><img src="/img/lever.png" alt="Lever" class="photo" /></a>
        <div>
        <p><a href="http://lever.co">Lever</a> builds applicant tracking software for modern hiring. The Lever team grew out of organic collaboration on open-source projects: real-time web frameworks and exploratory data visualization environments (Derby, Share.js, Tributary).</p>
        <p>Check out their open positions: <a href="https://jobs.lever.co/lever">Lever Jobs</a></p>
        </div>
      </li>

      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.five.com"><img src="/img/five_logo_black.png" alt="Five" class="photo" /></a>
        <div>
        <p>Five is building a social application at the intersection of data visualization and psychographics. They are based in Berkeley, CA.
          They are currently hiring developers and designers for web and mobile. Say <a href="mailto:hi@five.com">hi@five.com</a></p>
        </div>
      </li>

      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link" href="http://www.beezwax.net"><img src="/img/beezwax.png" alt="Beezwax" class="photo" /></a>
        <div>
        <p>Beezwax develops robust web sites and data-driven applications that connect with online audiences. Their toolbelt includes Ruby on Rails, PHP, Javascript, HTML5 and a rich set of other web technologies.</p>
        <p>Check out their open positions: <a href="http://www.beezwax.net/jobs">Beezwax Jobs</a></p>
        </div>
      </li>
    </ul>
  </section>
  <!-- / SPONSORS -->

{% endif %}
