{% if site.sections.about %}

  <!-- ABOUT -->
  <section class="about" id="about">
    <p><span class="highlight">d3.unconf</span> is a one-day gathering of data visualization practitioners. We're meeting to catalyze involvement and knowledge sharing within the <a href="http://d3js.org">d3.js</a> and greater visualization community.</p>

    <p>We want this 1 day event to be as productive and fun as possible. We are limiting attendance to people who are serious about being members of this dynamic community.
    To that end we expect every attendee to have at least tried to make a <a href="http://bl.ocks.org" target=_blank>block</a>. 
    If you are serious and haven't made one yet, check out <a href="http://blockbuilder.org" target=_blank>block builder</a> to get started!</p>

<!--
    <p>
    We asked attendees to submit a <a target=_blank href="http://bl.ocks.org">bl.ock</a> when they registered. 
    These are 60 of the d3 API functions they used in their blocks, visualized by <a target=_blank href="https://twitter.com/shirleyxywu">shirleyxywu</a>.
    </p>

    <iframe src="http://sxywu.github.io/visfest/" width="1200px" height="800px">
    </iframe>
  -->

    <p>Check out <a target=_blank href="/d3unconf2014">last year's conference</a> to get an idea of what to expect!</p>

  </section>
  <!-- / ABOUT -->

{% endif %}
