<section class="jobs" id="jobs">
    <h2 class="section-title">Job Listings from our sponsors</h2>
    <p>
      d3.unconf is an event where everyone participates, and all of our sponsors are sending developers and designers who practice d3.js in their work. If you're looking for a job working with d3, check out these job listings!
    </p>


    <ul class="sponsors-list">

      <li class="sponsor-item">
        <a class="" href="https://www.uber.com/jobs/38886">
          <img src="/img/Uber_logo.png" alt="Uber" class="logo" />
          <br>
          Uber Jobs
          </a>
      </li>
      <br>


      <li class="sponsor-item">
        <a class="" href="https://www.illumio.com/careers">
          <img src="/img/Illumio_logo.png" alt="illumio" class="logo" />
          <br>
          Illumio Jobs
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="https://www.mapbox.com/jobs/">
          <img src="/img/Mapbox_logo.png" alt="Mapbox" class="logo" />
          <br>
          Mapbox Jobs
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="https://www.facebook.com/careers">
          <img src="/img/Facebook_logo.png" alt="Facebook" class="logo" />
          <br>
          Facebook Jobs
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="https://jobs.netflix.com/">
        <img src="/img/Netflix_logo.png" alt="Netflix" class="logo" />
        <br>
        Netflix Jobs
        </a>
      </li>
      <br>

    
      <li class="sponsor-item">
        <a class="" href="http://adatao.com/company/#join-us" target="_blank">
          <img src="/img/Adatao_logo.png" alt="Adatao" class="logo" style="height:100px">
          <br>
          Adatao Jobs
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="http://www.splunk.com/en_us/about-us/careers.html" target="_blank">
          <img src="/img/Splunk_logo.png" alt="Splunk" class="logo" style="height:100px">
          <br>
          Splunk Jobs
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="http://www.carrot.com" target="_blank">
          <img src="/img/Carrot_logo.png" alt="Carrot" class="logo" style="height:100px">
        </a>
      </li>
      <br>

      <li class="sponsor-item">
        <a class="" href="https://jobs.lever.co/nava/" target="_blank">
          <img src="/img/nava-logo.png" alt="NAVA" class="logo" style="height:100px">
          <br>
          NAVA Jobs
        </a>
      </li>
      <br>

      
    </ul>
</section>