{% if site.sections.location %}

  <!-- LOCATION -->
  <section class="location" id="location">
    <h2 class="section-title">Location</h2>
    <p><a href="https://www.google.com/maps/dir//2665+Mission+St,+San+Francisco,+CA+94110/@37.7543922,-122.4185027,17z/data=!4m13!1m4!3m3!1s0x808f7e3f4ae79b7f:0x7bd2ac346be789f1!2s2665+Mission+St,+San+Francisco,+CA+94110!3b1!4m7!1m0!1m5!1m1!1s0x808f7e3f4ae79b7f:0x7bd2ac346be789f1!2m2!1d-122.4185027!2d37.7543922?hl=en">{{ site.conf2015.address }}</a></p>
    <div id="map-canvas-2015" class="location-area"></div>

  </section>
  <!-- / LOCATION -->

{% endif %}
