{% if site.sections.sponsors %}

  <!-- SPONSORS -->
  <section class="sponsors" id="sponsors">
    <h2 class="section-title">Sponsors</h2>
    <ul class="sponsors-list">

      <li class="sponsor-item">
        <a class="" href="http://uber.com">
          <img src="/img/Uber_logo.png" alt="Uber" class="logo" />
          </a>
      </li>


      <li class="sponsor-item">
        <a class="" href="http://illumio.com">
          <img src="/img/Illumio_logo.png" alt="illumio" class="logo" />
        </a>
      </li>

      <li class="sponsor-item">
        <a class="" href="http://mapbox.com">
          <img src="/img/Mapbox_logo.png" alt="Mapbox" class="logo" />
        </a>
      </li>

      <li class="sponsor-item">
        <a class="" href="http://facebook.com">
          <img src="/img/Facebook_logo.png" alt="Facebook" class="logo" />
        </a>
      </li>

      <li class="sponsor-item">
        <a class="" href="http://netflix.com">
        <img src="/img/Netflix_logo.png" alt="Netflix" class="logo" /></a>
      </li>

      <li class="sponsor-item">
        <a class="" href="http://www.carrot.com" target="_blank">
          <img src="/img/Carrot_logo.png" alt="Carrot" class="logo" style="height:100px">
        </a>
      </li>
      <li class="sponsor-item">
        <a class="" href="http://www.adatao.com" target="_blank">
          <img src="/img/Adatao_logo.png" alt="Adatao" class="logo" style="height:100px">
        </a>
      </li>

      
    </ul>
  </section>
  <!-- / SPONSORS -->

{% endif %}
